<!-- bisection.html -->
<!DOCTYPE html>
<html>

<head>
    <title>Bisection Method</title>
</head>

<body>
    <h1>Bisection Method</h1>
    <form action="/bisection" method="post">
        <label>Function f(x): </label>
        <input type="text" name="function" required><br>
        <label>Left Endpoint (a): </label>
        <input type="number" step="any" name="a" required><br>
        <label>Right Endpoint (b): </label>
        <input type="number" step="any" name="b" required><br>
        <label>Iterations: </label>
        <input type="number" name="iterations" required><br>
        <label>Decimal Places: </label>
        <input type="number" name="decimal_places" required><br>
        <input type="submit" class="submit-btn" value="Calculate">
    </form>
</body>

</html>